<h2><%= @message.title %></h2>
<p><%= @message.description %></p>
<!-- Adicionar uma estampa com o tempo -->

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_message_path(@message) %>
<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?"} %>